<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #h1-text {
            color: green
        }
        #h2-text {
            color: purple
        }
        #h3-text {
            color: blue
        }
        .link {
            font-size: 25px
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1</h1>
    <h2 id="h2-text">H2</h2>
    <h3 id="h3-text">H3</h3>
    <p>Это тестовый стенд. Созданный для практики, надеюсь его никто
        <span style="color:red">не увидит.</span>
    </p>

    <ul>
        <li><a class="link" href="https://ya.ru" style="color: green">Яндекс</a></li>
        <li><a class="link" href="https://translate.google.com/?hl=ru&sl=en&tl=ru&op=translate" style="color: orange">Переводчик</a>
        </li>
        <li><a class="link" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8" style="color: purple">Вики</a></li>
    </ul>
    <img alt="картинка не прогрузилась=("
         src="https://n1s1.hsmedia.ru/9a/9c/05/9a9c0512e78870196a48d9e8ed22ceab/1000x600_0xac120003_4474481631630068065.jpeg"
         style="width: 358px">
    <div>
        <input placeholder="Логин">
        <input type="password" placeholder="Пароль">
    </div>
    <div>
    <button>Войти</button>
    </div>
</div>
</body>
</html>